@import '../utils//mixins.scss';


.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:15vh;
    color:#686763;
    background-color: #F1DBCE;
    position:fixed;
    left:0px;
    bottom:0px;
    height:25px;
    width:100%;

}